ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    display: none;
}

#runner {
    display: none;
}

h4 span {
    color: #fff;
    border-radius: 50%;
    background-color: darkgreen;
    font-size: 0.8em;
    padding: 0.4em;
}
